/.idea/
/android/build/
/android/.idea/
/android/.gradle/
/android/app/build/
/test-client/target/
/doc/ai/presentation/tmp/
/tmp/
/frontent-proposal/
/target/sonar/
/frontend/.nyc_output/
/doc/ai/presentation/old/
/doc/ai/presentation/tmp/
.env
/data/
/doc/ai/internal/
/presentation/target/
/target/
