services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - IPSTACK_API_KEY=${IPSTACK_API_KEY}
      - IPSTACK_API_URL=${IPSTACK_API_URL}
      - RECAPTCHA_1_SITE_KEY=${RECAPTCHA_1_SITE_KEY}
      - RECAPTCHA_1_SECRET_KEY=${RECAPTCHA_1_SECRET_KEY}
      - RECAPTCHA_1_PROJECT_ID=${RECAPTCHA_1_PROJECT_ID}
      - RECAPTCHA_1_API_KEY=${RECAPTCHA_1_API_KEY}
      - RECAPTCHA_2_SITE_KEY=${RECAPTCHA_2_SITE_KEY}
      - RECAPTCHA_2_SECRET_KEY=${RECAPTCHA_2_SECRET_KEY}
      - RECAPTCHA_2_PROJECT_ID=${RECAPTCHA_2_PROJECT_ID}
      - RECAPTCHA_2_API_KEY=${RECAPTCHA_2_API_KEY}
      - RECAPTCHA_3_SITE_KEY=${RECAPTCHA_3_SITE_KEY}
      - RECAPTCHA_3_SECRET_KEY=${RECAPTCHA_3_SECRET_KEY}
      - RECAPTCHA_3_PROJECT_ID=${RECAPTCHA_3_PROJECT_ID}
      - RECAPTCHA_3_API_KEY=${RECAPTCHA_3_API_KEY}
      - RECAPTCHA_DEFAULT_CONFIG=${RECAPTCHA_DEFAULT_CONFIG}
      - SES_USERNAME=${SES_USERNAME}
      - SES_PASSWORD=${SES_PASSWORD}
      - SES_FROM=${SES_FROM}
      - APP_BASE_URL=${APP_BASE_URL:-http://localhost}
      - LANDING_MESSAGE_EN=${LANDING_MESSAGE_EN}
      - LANDING_MESSAGE_DE_CH=${LANDING_MESSAGE_DE_CH}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - USER_PASSWORD=${USER_PASSWORD}
      - ADMIN_READ_PASSWORD=${ADMIN_READ_PASSWORD}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - USER_EMAIL=${USER_EMAIL}
      - ADMIN_READ_EMAIL=${ADMIN_READ_EMAIL}

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
